nav
{
  z-index: 100;
  background: #5adcec;
  height: 50px;
  position: fixed;top: 0;right: 0;left: 0;
}

ul
{
  margin: 0;
}

nav ul
{
  list-style: none;
  margin: 0;
}

nav ul li
{
  display: inline-block;
  line-height: 50px;
  float: right;
  margin-right: 20px;
}

nav ul li a
{
  line-height: 50px;
  text-decoration: none;
  display: inline-block;
  height: inherit;
  color: #ffffff;
  font-family: Helvetica;
}

nav ul li.logo
{
  float: left;
}

.logo
{
  font-size: 25px;
  font-weight: 760;
  font-family: Helvetica;
}

.logo a
{
  color: #ffffff;
}

nav
{
  background: #5adcec;
  height: 50px;
  position: fixed;top: 0;right: 0;left: 0;
}

ul
{
  margin: 0;
}

nav ul
{
  list-style: none;
  margin: 0;
}

nav ul li
{
  display: inline-block;
  line-height: 50px;
  float: right;
  margin-right: 20px;
}

nav ul li a
{
  line-height: 50px;
  text-decoration: none;
  display: inline-block;
  height: inherit;
  color: #ffffff;
  font-family: Helvetica;
}

nav ul li.logo
{
  float: left;
}

.logo
{
  font-size: 25px;
  font-weight: 760;
  font-family: Helvetica;
}

.logo a
{
  color: #ffffff;
}

.content
{
  width: 100%;
  background-color: #ffffff;
  min-height: 1000px;
}

.content .text
{
  width: inherit;
  height: inherit;
  overflow: hidden;
}

.mask
{
  display: none;
  position: fixed; top: 0; bottom: 0; left: 0; right: 0;
  background: rgba(0, 0, 0, 0.8);
}

#sidebar
{
  position: fixed; top: 50px; bottom: 0; right: -300px;
  width: 300px;
  background: #333;
  color: #fff;
  transition: right 0.5s;
}

#sidebar ul
{
  list-style: none;
  padding: 0;
  margin: 0;
}

#sidebar ul a
{
  text-decoration: none;
  font-family: Helvetica;
  color: #fff;
  padding: 20px 30px;
  margin: 0;
  display: inline-block;
  width: 100%;
}

#sidebar ul a:hover
{
  background: #444;
}
