body{
  background: #4e4e4e;
  background-size: 100%;
}

.head
{

}

nav
{
  z-index: 100;
  background: #5adcec;
  height: 50px;
  position: fixed;top: 0;right: 0;left: 0;
}

ul
{
  margin: 0;
}

nav ul
{
  list-style: none;
  margin: 0;
}

nav ul li
{
  display: inline-block;
  line-height: 50px;
  float: right;
  margin-right: 20px;
}

nav ul li a
{
  line-height: 50px;
  text-decoration: none;
  display: inline-block;
  height: inherit;
  color: #ffffff;
  font-family: Helvetica;
}

nav ul li.logo
{
  float: left;
}

#banner .inner h1
{
  position: center absolute;
  margin: 0;
}

#banner .inner
{
  z-index: 0;
  text-align: center;
  margin: 20% auto;
  color: #ffffff;
  font-family: Helvetica;
  height: 300px;
}

.more
{
  z-index: 0;
  text-align: center;
  position: relative; bottom: 40px;
  margin-top: 20%;
  color: #ffffff;
  font-family: Helvetica;
}

.bottomArrow
{
  z-index: 0;
  border-top: 10px solid #ffffff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  width: 0;
  height: 0;
  margin: auto;
  position: relative;bottom: 45px;
}

.logo
{
  font-size: 25px;
  font-weight: 760;
  font-family: Helvetica;
}

.logo a
{
  color: #ffffff;
}

.bgp
{
  position: fixed;bottom: 0;
  min-height: 100%;
  height: auto;
  width: 100%;
  filter:alpha(Opacity=80);-moz-opacity:0.5;opacity: 0.5;z-index:-50; background-color:#ffffff;

  z-index: -100;
}

.bgv
{
       position: fixed; top: 0; right: 0; bottom: 0;
       min-width: 100%; min-height: 100%;
       width: auto; height: auto; z-index: -100;
       background-size: cover;
       filter:alpha(Opacity=80);-moz-opacity:0.5;opacity: 0.5;z-index:-50; background-color:#ffffff;
}

/*
.photo
{
  margin: auto;
}
*/

.Demo-left img
{
  max-height: 300px;
  max-width: 100%;
  right: 10px;
  float:left;
}

.Demo-right img
{
  max-height: 300px;
  max-width: 100%;
  left: 10px;
  float:right;
}

.s1 , .s3
{
  background: #8e8e8e;
  min-height: 300px;
}

.s2
{
  background: #6e6e6e;
  min-height: 300px;
}

footer
{
  position: absolute; left: 0; right: 0;
  background: #2b2b2b;
  color: #ffffff;
  min-height: 200px;
  text-align: center;
  font-family: Helvetica;
  margin-top: 200px;
}

.share li
{
  display: inline-block;
  padding: 30px;
}

.mask
{
  display: none;
  position: fixed; top: 0; bottom: 0; left: 0; right: 0;
  background: rgba(0, 0, 0, 0.8);
}

#sidebar
{
  position: fixed; top: 50px; bottom: 0; right: -300px;
  width: 300px;
  background: #333;
  color: #fff;
  transition: right 0.5s;
}

#sidebar ul
{
  list-style: none;
  padding: 0;
  margin: 0;
}

#sidebar ul a
{
  text-decoration: none;
  font-family: Helvetica;
  color: #fff;
  padding: 20px 30px;
  margin: 0;
  display: inline-block;
  width: 100%;
}

#sidebar ul a:hover
{
  background: #444;
}
