body
{
  background-color: rgb(230,230,230);
}

nav
{
  background: #5adcec;
  height: 50px;
  position: fixed;top: 0;right: 0;left: 0;
  z-index: 100;
}

ul
{
  margin: 0;
}

nav ul
{
  list-style: none;
  margin: 0;
}

nav ul li
{
  display: inline-block;
  line-height: 50px;
  float: right;
  margin-right: 20px;
}

nav ul li a
{
  line-height: 50px;
  text-decoration: none;
  display: inline-block;
  height: inherit;
  color: #ffffff;
  font-family: Helvetica;
}

nav ul li.logo
{
  float: left;
}

.logo
{
  font-size: 25px;
  font-weight: 760;
  font-family: Helvetica;
}

.logo a
{
  color: #ffffff;
}

.content
{
  position: relative;
  top: 40px;
  background-color: #ffffff;
  min-height: 600px;
  font-family: Helvetica;
  background-color: inherit;
}

.function
{
  top: 50px; left: 0; right: 0;
  background: red;
  height: 50px;
  z-index: 0;
}

.post
{
  display: block;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgb(255,255,255);
  word-wrap: break-word;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right:15px;
  text-decoration: none;
}

.header
{
  text-decoration: none;
  color: rgb(55,55,55);
}

.lead
{
  max-width: 98%;
}

.read-more
{
  background-color: rgb(133,133,133);
  left: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: 400;
  text-decoration: none;
  color: rgb(255,255,255);
}

.read-more:hover
{
  background: rgb(77,192,195);
}










footer
{
  position: absolute; left: 0; right: 0;
  background: #333333;
  color: #ffffff;
  min-height: 200px;
  text-align: center;
  font-family: Helvetica;
  margin-top: 200px;
}

.share li
{
  display: inline-block;
  padding: 30px;
}

.mask
{
  display: none;
  position: fixed; top: 0; bottom: 0; left: 0; right: 0;
  background: rgba(7, 7, 7, 0.8);
}

#sidebar
{
  position: fixed; top: 50px; bottom: 0; right: -300px;
  width: 300px;
  background: #333;
  color: #fff;
  transition: right 0.5s;
}

#sidebar ul
{
  list-style: none;
  padding: 0;
  margin: 0;
}

#sidebar ul a
{
  text-decoration: none;
  font-family: Helvetica;
  color: #fff;
  padding: 20px 30px;
  margin: 0;
  display: inline-block;
  width: 100%;
}

#sidebar ul a:hover
{
  background: #444;
}
